.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.677246;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.682129;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.453125;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls21{letter-spacing:-1.456128px;}
.ls1f{letter-spacing:-1.291520px;}
.ls1d{letter-spacing:-0.999936px;}
.ls18{letter-spacing:-0.997696px;}
.ls20{letter-spacing:-0.991232px;}
.ls22{letter-spacing:-0.454272px;}
.lsf{letter-spacing:-0.320000px;}
.ls1b{letter-spacing:-0.231968px;}
.ls23{letter-spacing:0.000000px;}
.ls1e{letter-spacing:0.083200px;}
.lsd{letter-spacing:0.124800px;}
.ls4{letter-spacing:0.307200px;}
.lsb{letter-spacing:0.356736px;}
.ls11{letter-spacing:0.360576px;}
.ls10{letter-spacing:0.400064px;}
.ls8{letter-spacing:0.429312px;}
.lse{letter-spacing:0.442752px;}
.ls1a{letter-spacing:0.461472px;}
.ls12{letter-spacing:0.486144px;}
.ls6{letter-spacing:0.491904px;}
.ls13{letter-spacing:0.495744px;}
.ls14{letter-spacing:0.574464px;}
.ls9{letter-spacing:0.606336px;}
.ls19{letter-spacing:0.692032px;}
.ls1c{letter-spacing:0.803616px;}
.ls16{letter-spacing:1.006368px;}
.lsa{letter-spacing:1.124736px;}
.ls15{letter-spacing:1.225664px;}
.ls2{letter-spacing:1.324800px;}
.ls17{letter-spacing:1.644896px;}
.lsc{letter-spacing:2.999808px;}
.ls3{letter-spacing:3.244800px;}
.ls0{letter-spacing:3.467520px;}
.ls5{letter-spacing:3.657600px;}
.ls1{letter-spacing:3.904128px;}
.ls7{letter-spacing:3.924864px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:38.399616px;}
.fc4{color:rgb(23,56,107);}
.fc1{color:rgb(0,0,255);}
.fc2{color:rgb(5,99,194);}
.fc0{color:rgb(0,0,0);}
.fc3{color:rgb(0,120,212);}
.fs2{font-size:22.400000px;}
.fs5{font-size:25.600000px;}
.fs1{font-size:32.000000px;}
.fs3{font-size:35.200000px;}
.fs0{font-size:38.400000px;}
.fs6{font-size:40.000000px;}
.fs4{font-size:44.800000px;}
.y0{bottom:0.000000px;}
.y23{bottom:2.100000px;}
.y8{bottom:3.000000px;}
.y25{bottom:19.200000px;}
.y22{bottom:24.900000px;}
.y1{bottom:27.500000px;}
.y21{bottom:38.100000px;}
.y20{bottom:46.500000px;}
.y1f{bottom:54.900000px;}
.y1e{bottom:64.500000px;}
.y1d{bottom:78.300000px;}
.y1c{bottom:90.300000px;}
.y1b{bottom:102.300000px;}
.y9{bottom:219.500000px;}
.y1a{bottom:254.700000px;}
.y19{bottom:268.500000px;}
.y18{bottom:279.300000px;}
.y17{bottom:303.300000px;}
.y16{bottom:315.300000px;}
.y15{bottom:327.900000px;}
.y14{bottom:340.500000px;}
.y13{bottom:353.100000px;}
.y12{bottom:365.700000px;}
.y11{bottom:378.300000px;}
.y10{bottom:390.900000px;}
.yf{bottom:411.900000px;}
.ye{bottom:432.900000px;}
.yd{bottom:445.500000px;}
.yc{bottom:458.100000px;}
.yb{bottom:470.700000px;}
.ya{bottom:483.300000px;}
.y6{bottom:720.300000px;}
.y7{bottom:731.600000px;}
.y5{bottom:733.500000px;}
.y4{bottom:746.700000px;}
.y3{bottom:759.900000px;}
.y2{bottom:773.100000px;}
.y24{bottom:822.800000px;}
.h3{height:13.200000px;}
.h8{height:18.662500px;}
.h6{height:24.010938px;}
.h5{height:25.660938px;}
.h2{height:27.993750px;}
.h7{height:32.659375px;}
.h9{height:41.367188px;}
.h4{height:493.500000px;}
.h1{height:786.750000px;}
.h0{height:842.000000px;}
.w3{width:452.400000px;}
.w4{width:529.500000px;}
.w2{width:541.500000px;}
.w1{width:595.000000px;}
.w0{width:596.000000px;}
.x0{left:0.000000px;}
.x6{left:9.450000px;}
.x9{left:16.200000px;}
.x1{left:27.750000px;}
.x8{left:33.000000px;}
.x5{left:35.250000px;}
.x2{left:47.850000px;}
.x4{left:50.250000px;}
.x3{left:60.450000px;}
.x7{left:114.600000px;}
.xb{left:275.000000px;}
.xa{left:283.000000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls21{letter-spacing:-1.941504pt;}
.ls1f{letter-spacing:-1.722027pt;}
.ls1d{letter-spacing:-1.333248pt;}
.ls18{letter-spacing:-1.330261pt;}
.ls20{letter-spacing:-1.321643pt;}
.ls22{letter-spacing:-0.605696pt;}
.lsf{letter-spacing:-0.426667pt;}
.ls1b{letter-spacing:-0.309291pt;}
.ls23{letter-spacing:0.000000pt;}
.ls1e{letter-spacing:0.110933pt;}
.lsd{letter-spacing:0.166400pt;}
.ls4{letter-spacing:0.409600pt;}
.lsb{letter-spacing:0.475648pt;}
.ls11{letter-spacing:0.480768pt;}
.ls10{letter-spacing:0.533419pt;}
.ls8{letter-spacing:0.572416pt;}
.lse{letter-spacing:0.590336pt;}
.ls1a{letter-spacing:0.615296pt;}
.ls12{letter-spacing:0.648192pt;}
.ls6{letter-spacing:0.655872pt;}
.ls13{letter-spacing:0.660992pt;}
.ls14{letter-spacing:0.765952pt;}
.ls9{letter-spacing:0.808448pt;}
.ls19{letter-spacing:0.922709pt;}
.ls1c{letter-spacing:1.071488pt;}
.ls16{letter-spacing:1.341824pt;}
.lsa{letter-spacing:1.499648pt;}
.ls15{letter-spacing:1.634219pt;}
.ls2{letter-spacing:1.766400pt;}
.ls17{letter-spacing:2.193195pt;}
.lsc{letter-spacing:3.999744pt;}
.ls3{letter-spacing:4.326400pt;}
.ls0{letter-spacing:4.623360pt;}
.ls5{letter-spacing:4.876800pt;}
.ls1{letter-spacing:5.205504pt;}
.ls7{letter-spacing:5.233152pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:51.199488pt;}
.fs2{font-size:29.866667pt;}
.fs5{font-size:34.133333pt;}
.fs1{font-size:42.666667pt;}
.fs3{font-size:46.933333pt;}
.fs0{font-size:51.200000pt;}
.fs6{font-size:53.333333pt;}
.fs4{font-size:59.733333pt;}
.y0{bottom:0.000000pt;}
.y23{bottom:2.800000pt;}
.y8{bottom:4.000000pt;}
.y25{bottom:25.600000pt;}
.y22{bottom:33.200000pt;}
.y1{bottom:36.666667pt;}
.y21{bottom:50.800000pt;}
.y20{bottom:62.000000pt;}
.y1f{bottom:73.200000pt;}
.y1e{bottom:86.000000pt;}
.y1d{bottom:104.400000pt;}
.y1c{bottom:120.400000pt;}
.y1b{bottom:136.400000pt;}
.y9{bottom:292.666667pt;}
.y1a{bottom:339.600000pt;}
.y19{bottom:358.000000pt;}
.y18{bottom:372.400000pt;}
.y17{bottom:404.400000pt;}
.y16{bottom:420.400000pt;}
.y15{bottom:437.200000pt;}
.y14{bottom:454.000000pt;}
.y13{bottom:470.800000pt;}
.y12{bottom:487.600000pt;}
.y11{bottom:504.400000pt;}
.y10{bottom:521.200000pt;}
.yf{bottom:549.200000pt;}
.ye{bottom:577.200000pt;}
.yd{bottom:594.000000pt;}
.yc{bottom:610.800000pt;}
.yb{bottom:627.600000pt;}
.ya{bottom:644.400000pt;}
.y6{bottom:960.400000pt;}
.y7{bottom:975.466667pt;}
.y5{bottom:978.000000pt;}
.y4{bottom:995.600000pt;}
.y3{bottom:1013.200000pt;}
.y2{bottom:1030.800000pt;}
.y24{bottom:1097.066667pt;}
.h3{height:17.600000pt;}
.h8{height:24.883333pt;}
.h6{height:32.014583pt;}
.h5{height:34.214583pt;}
.h2{height:37.325000pt;}
.h7{height:43.545833pt;}
.h9{height:55.156250pt;}
.h4{height:658.000000pt;}
.h1{height:1049.000000pt;}
.h0{height:1122.666667pt;}
.w3{width:603.200000pt;}
.w4{width:706.000000pt;}
.w2{width:722.000000pt;}
.w1{width:793.333333pt;}
.w0{width:794.666667pt;}
.x0{left:0.000000pt;}
.x6{left:12.600000pt;}
.x9{left:21.600000pt;}
.x1{left:37.000000pt;}
.x8{left:44.000000pt;}
.x5{left:47.000000pt;}
.x2{left:63.800000pt;}
.x4{left:67.000000pt;}
.x3{left:80.600000pt;}
.x7{left:152.800000pt;}
.xb{left:366.666667pt;}
.xa{left:377.333333pt;}
}
